<% if(typeof covers != 'undefined'){ %>
	<% for(var i=0; i<covers.length; i++) {%>
		<% if(typeof covers[i] != 'undefined' && covers[i] != ''){ %>
   			<img src='<%= covers[i] %>' />
   		<% } %>
	<% } %>
<% } else{ %>
	<h2>No results</h2>
<% } %>