<form method="POST" action="/generate">
	<input type="text" name="artist" placeholder="Muse" value="muse">
	<input type="hidden" id="input-width" name="width_screen">
	<input type="hidden" id="input-height" name="height_screen">
	<input type="text" name="width_cover"  id="input-width-cover" value="200">
	<input type="text" name="height_cover" id="input-height-cover" value="200">

	<input type="hidden" name="min-covers" id="input-min-covers">
	<label id ="min-covers"></label>
	<input type="submit" value="Generate">

</form>