<form method="POST" action="/generate">
	<input type="text" name="artist" placeholder="Muse" value="muse">
	<input type="hidden" id="input-width" name="width-screen">
	<input type="hidden" id="input-height" name="height-screen">
	<input type="submit" value="Generate">
</form>