body,html {
	padding: 0;
	margin: 0;
}

img {
	width: 25%;
	padding: 0;
	margin: 0;
	border: 0;
	float: left;
}

#nb-covers {
	width: 10%;
	margin-left: 45%;
	text-align: center;
}

img:hover {
	filter: brightness(25%);
}


p {
	display: inline;
}


#resolution {
	width: auto;
	position: absolute;
	top: 50px;
	right: 50px;
}